@import "tailwindcss";

body {
  background-image: url("./assets/images/background-cyber.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
}

/* Mobile fix */
@media (max-width: 768px) {
  body {
    background-attachment: scroll;
  }
}

.font-heading {
  font-family: 'Orbitron', sans-serif;
}

@keyframes floatSlow {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
}

.float-slow {
  animation: floatSlow 3.5s ease-in-out infinite;
}

.nav-link.active-link,
.mobile-nav-link.active-link {
  color: #22d3ee;
}

.nav-link.active-link {
  position: relative;
}

.nav-link.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  border-radius: 999px;
  background: #22d3ee;
}

.about-image-card {
  border: 1px solid rgba(0, 255, 255, 0.25);
  box-shadow: 0 0 20px rgba(0, 217, 255, 0.12);
  border-radius: 24px;
  overflow: hidden;
  background: rgba(10, 0, 30, 0.65);
  backdrop-filter: blur(8px);
}

.about-image-card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 18px;
}

.about-image-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 28px rgba(0, 217, 255, 0.2);
  transition: 0.3s ease;
}

@keyframes loadingMove {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(250%);
  }
}

.loading-bar {
  animation: loadingMove 1.2s linear infinite;
}


/* Lock scroll while loading */
body.loading {
  overflow: hidden;
  height: 100vh;
  scrollbar-width: none;
}

body.loading::-webkit-scrollbar {
  display: none;
}

/* Normal themed scrollbar after loading */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #070112;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #06b6d4, #7c3aed);
  border-radius: 999px;
  border: 2px solid #070112;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #22d3ee, #8b5cf6);
}

/* Firefox */
html,
body {
  scrollbar-width: thin;
  scrollbar-color: #06b6d4 #070112;
}

body.loading,
body.loading html {
  scrollbar-width: none;
}